.rodape {
  padding: 1em;
  background-color: var(--cor-footer);
}

.rodape__titulo {
  font-family: var(--fonte-principal);
  
}

.lista__rodape {
  display: none;
}

@media screen and (min-width: 1024px) {
  .rodape {
    display: flex;
    justify-content: space-around;
    padding-top: 4em;
    padding-bottom: 3em;
  }

  .rodape__titulo {
    font-size: 24px;
  }

  .lista__rodape {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .lista-rodape__titulo{
    color: var(--cinza-categorias);
    font-family: var(--fonte-principal);
    font-size: 14px
  }

  .lista-rodape__item {
    gap: 0.5em;
    display: flex;
    align-items: center;
  }

  .lista-rodape__link {
    text-decoration: none;
    color: var(--cinza-empresas);
    font-family: var(--fonte-principal);
    font-size: 14px;
  }
}

@media screen and (min-width: 1728px){
  .lista__rodape {
    border-left: 1px solid var(--cinza-empresas);
    padding-left: 1em;
  }
  .rodape{
    padding-left: 3em;
  }
}